body {

}

.wrapper div {
  display: flex;
  flex-direction: column;
  padding: 20px;

  background-color: aquamarine;
}

h1 {
  text-align: center;
}
.second {
  display: flex;
}

input {
  width: 60%;
  align-self: center;
}

.second button {
  width: 15%;
  align-self: flex-end;
  margin-right: 79px;
  
}

h3 {
  
}

